@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background: #3767AD;
  // color: #fff;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // min-height: 100vh;
}

.main {
  background: #3767AD;
}

.title {
  display: flex;
  font-size: 55px;
  font-family: "roboto", sans-serif;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin: 8px 0 0 0;

}


.glass {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 54px;
  position: relative;

  &__number {
    font-size: 112px;
    position: absolute;
    font-family: "roboto", sans-serif;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__add {
    margin-top: 60px;
    width: 216px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  &__remove {
    margin-top: 32px;
    border: none;
    background-color: #3767AD;
    color: #F5E5E7;
    width: 216px;
    line-height: 30px;
  }
}

.level {
  margin-top: 12px;
  margin-left: 160px;
  font-family: 'roboto', serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 26px;
  line-height: 24px;
  font-size: 14px;
  color: white;

  &__circle {
    margin: auto 0 auto 4px;
    display: inline-block;
    border: .5px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 20px;
  }
}